* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  display: inline-flex;
}

button,
.button {
  border: inherit;
  color: inherit;
}

body {
  font-family: "Gilroy";
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

@font-face {
  font-family: "Gilroy";
  src: url(/SRC/fonts/Gilroy-Bold.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url(/SRC/fonts/Gilroy-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url(/SRC/fonts/Gilroy-Regular.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url(/SRC/fonts/Gilroy-SemiBold.ttf);
  font-weight: 700;
}
.body10-regular {
  /* Body/10px Regular */
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.body10-bold {
  /* Body/10px Bold */
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.body12-medium, #adoption p {
  /* Body/12px Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.body12-bold {
  /* Body/12px Medium */
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.body14-regular {
  /* Body/14px Regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.body14-medium {
  /* Body/14px Medium */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.body14-bold {
  /* Body/14px Bold */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.body16-medium, #header p {
  /* Body/16px Medium */
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.body16-bold {
  /* Body/16px Bold */
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.section-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: capitalize;
}

#header {
  background-color: #fceed5;
  height: 700px;
  overflow: hidden;
  position: relative;
}
#header .container .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
}
#header .container .navbar ul {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#header .container .navbar ul li {
  display: flex;
  list-style: none;
}
#header .container .navbar ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
#header .container .navbar ul li:hover {
  color: blue;
}
#header .container .navbar .search-input {
  border-radius: 50px;
  border-color: white;
  font-weight: 500;
  font-size: 14px;
  gap: 12px;
  text-align: center;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 16px;
  width: 250px;
  height: 40px;
  background-image: url(/SRC/Monito-icons/u_search.png);
  background-repeat: no-repeat;
  background-position: 4% 50%;
}
#header .container .navbar .primary-btn {
  text-decoration: none;
  border-radius: 50px;
  background-color: #003459;
  color: #fff;
  gap: 10px;
  padding-top: 10px;
  width: 200px;
  height: 40px;
  text-align: center;
}
#header .showcase {
  width: 1200px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
#header h1,
#header h2 {
  margin-top: 50px;
  font-size: 60px;
  font-style: normal;
  font-weight: 100;
  line-height: 68px;
  position: relative;
}
#header h1 {
  z-index: 1;
}
#header h2 {
  margin-top: 4px;
  font-size: 46px;
  line-height: 60px;
}
#header p {
  width: 480px;
  margin: 24px 0 34px;
}
#header .main-img {
  position: absolute;
  left: 700px;
  top: 90px;
  width: 1100px;
  height: 700px;
}
#header .hero-btns {
  position: absolute;
  left: 370px;
  font-size: 16px;
  font-weight: 500;
}
#header .hero-btns a {
  border-radius: 50px;
  border: 1px;
  padding: 10px 30px;
  margin-top: 35px;
  border: 1.5px solid #003459;
}
#header .hero-btns .explore {
  color: white;
  background-color: #003459;
  margin-left: 25px;
  margin-bottom: 235px;
}
#header .frame {
  z-index: 1;
}
#header .main-img {
  z-index: 1;
}
#header .background .box1 {
  position: absolute;
  width: 635px;
  height: 635px;
  border-radius: 99px;
  background-color: #f7dba7;
  top: -550px;
  left: -15px;
  rotate: 20.23deg;
}
#header .background .box2 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 195px;
  left: 362px;
  border-radius: 20px;
  rotate: 25.23deg;
  background-color: #f7dba7;
}
#header .background .box3 {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 148px;
  left: 1055px;
  border-radius: 4px;
  rotate: 20deg;
  background-color: #f7dba7;
}
#header .background .box4 {
  position: absolute;
  background-color: #f7dba7;
  border-radius: 9px;
  width: 28px;
  height: 28px;
  top: 200px;
  left: 1030px;
  rotate: -22deg;
}
#header .background .box5 {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 210px;
  left: 1030px;
  background-color: #003459;
  border-radius: 6px;
  rotate: -43deg;
}
#header .background .box6 {
  position: absolute;
  width: 635px;
  height: 635px;
  top: 370px;
  left: 900px;
  border-radius: 99px;
  rotate: 10deg;
  background-color: #003459;
}
#header .background .box7 {
  position: absolute;
  width: 635px;
  height: 635px;
  top: 300px;
  left: 960px;
  border-radius: 99px;
  rotate: 25deg;
  background-color: #f7dba7;
}
#header .background .box8 {
  position: absolute;
  width: 635px;
  height: 635px;
  top: 690px;
  left: 200px;
  border-radius: 99px;
  rotate: 58deg;
  background-color: #f7dba7;
}

#adoption .site-adoption {
  width: 100%;
  height: 378px;
  border-radius: 20px;
  background: #ffb775;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  position: relative;
  overflow: hidden;
}
#adoption .site-adoption__title {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 200;
}
#adoption h2 {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 52px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
  text-transform: capitalize;
}
#adoption h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  text-transform: capitalize;
}
#adoption p {
  margin: 8px 0 42px;
}
#adoption .adoption-btns {
  display: flex;
  gap: 20px;
}
#adoption .adoption-effect-one {
  width: 782.292px;
  height: 635px;
  transform: rotate(-25.23deg);
  border-radius: 99px;
  position: absolute;
  left: -15%;
  bottom: 0;
}
#adoption .adoption-effect-two {
  width: 787.54px;
  height: 787.54px;
  transform: rotate(-28.251deg);
  border-radius: 99px;
  opacity: 0.3;
  position: absolute;
  top: 40%;
  right: -20%;
}
#adoption .adoption-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

@media only screen and (max-width: 1200px) {
  #adoption {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */