#footer {
  background-color: #ffe7ba;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  .footer {
    width: 1440px;
    height: 440px;
    margin-top: 60px;
    position: relative;
  }

  .Our-programs {
    position: absolute;
    width: 1050px;
    height: 136px;
    background-color: #003459;
    border-radius: 16px;
    margin: 80px 70px;

    .section-title {
      position: absolute;
      color: #fdfdfd;
      align-items: start;
      margin: 32px;
    }

    .subscribe {
      position: absolute;
      right: 32px;
      top: 32px;
      background-color: #fff;
      border-radius: 14px;

      .subscribe-input {
        width: 400px;
        height: 48px;
        border-radius: 50px;
        border: 1px solid #99a2a5;
        border-radius: 8px;
        padding: 0 20px;
        margin: 12px;
        left: 20px;
      }

      .subscribe-btn {
        width: 400px;
        height: 48px;
        border-radius: 50px;
        border: 1px;
        border-radius: 8px;
        background-color: #003459;
        color: #fdfdfd;
        font-weight: 600;
        cursor: pointer;
        margin: 12px;
        padding: 15px 30px;
      }
    }
  }

  .footer-nav {
    @include flex-between;
    align-items: center;
    margin: 200px 10px 0;
  }
  .body16-medium {
    color: #00171f;
    @include flex-center;
    gap: 50px;
  }
  .our-social-networks {
    @include flex-center;
    gap: 40px;
  }
  .horizontal {
    border: 1px solid #a7abac;
    border-radius: 1px;
    width: 1040px;
    height: 0.5px;
    margin-top: 40px;
  }
  .footer-end {
    @include flex-between;
    align-items: center;
    margin: 40px 130px;
    
    p {
      margin-left: -120px;
    }
    .privacy {
      @include flex-center;
      gap: 20px;
      margin-right: -120px;
    }
    .body14-medium {
      color: #667479;
    }
  }
}
