.site__banner {
  @include flex-between;
  border: 1px;
  border-radius: 20px;
  background-color: #003459;
  position: relative;
  overflow: hidden;

  .banner-title {
    padding: 65px 100px;
    z-index: 15;
    width: 60%;

    text-align: end;
    h1,
    h2 {
      font-size: 60px;
      font-style: normal;
      font-weight: 100;
      line-height: 68px;
      color: #002a48;
    }

    h3 {
      margin-top: 4px;
      font-size: 40px;
      line-height: 60px;
      color: #002a48;
    }

    p {
      @extend .body16-medium;
      font-size: 12px;
      margin: 8px 10px;
      color: #002a48;
    }
  }

  .explore-img {
    position: relative;
    width: 515px;
    height: 345px;
    z-index: 250;
    top: 65px;
    left: 40px;
  }

  .right-effect {
    position: absolute;
    border: 1px solid #fceed5;
    border-radius: 99px;
    background-color: #fceed5;
    width: 785px;
    height: 635px;
    rotate: 25.23deg;
    top: -205px;
    left: 575px;
  }

  .left-effect {
    position: absolute;
    background-color: #002a48;
    border: 1px solid #002a48;
    border-radius: 99px;
    width: 788px;
    height: 788px;
    rotate: 35deg;
    top: 200px;
    left: -225px;
  }
}
.banner-btns {
  font-size: 16px;
  font-weight: 500;
  margin-top: 40px;

  a {
    border-radius: 50px;
    border: 1px;
    padding: 10px 30px;
    border: 1.5px solid #003459;
    margin-left: 10px;
  }
  .explore-btn {
    color: white;
    background-color: #003459;
  }
}
